:root {
  --vp-c-brand-1: #10b981;       
  --vp-c-brand-2: #059669;       
  --vp-c-brand-3: #34d399;       

  --vp-c-text-1: #0f172a;        
  --vp-c-brand: var(--vp-c-brand-1);
  --vp-c-brand-light: var(--vp-c-brand-2);
  --vp-c-brand-lighter: var(--vp-c-brand-3);

  --vp-c-bg-soft: #f8fafc;       
  --vp-c-bg-alt: #f1f5f9;        
  
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
  --vp-button-brand-text: #ffffff;

  --vp-sidebar-width: 280px;
  --vp-layout-max-width: 100% !important;
}

.dark {
  --vp-c-brand-1: #34d399;       
  --vp-c-brand-2: #6ee7b7;       
  --vp-c-brand-3: #a7f3d0;       

  --vp-c-brand: var(--vp-c-brand-1);
  --vp-c-brand-dark: var(--vp-c-brand-2);
  --vp-c-brand-darker: var(--vp-c-brand-3);

  --vp-c-bg: #0b0f19;            
  --vp-c-bg-soft: #111827;       
  --vp-c-bg-alt: #1f2937;        

  --vp-button-brand-text: #064e3b; 
}

h1, h2, h3, h4, h5, h6 {
  color: var(--vp-c-brand-1) !important;
  font-weight: 900;
}

.header-anchor {
  color: var(--vp-c-brand-2) !important;
}

.VPLayout,
#app {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}

.VPContent {
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

.VPDoc {
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  min-height: 100% !important;
}

.VPDoc .container {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 4% !important;
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

.VPDoc .content-container {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  height: 100% !important;
}


.vp-doc h1 {
  font-size: 2.8rem !important;
  line-height: 1.2 !important;
  margin-bottom: 24px !important;
}

.vp-doc h2 {
  font-size: 2.2rem !important;
  line-height: 1.3 !important;
  margin-top: 40px !important;
  margin-bottom: 16px !important;
}

.vp-doc h3 {
  font-size: 1.65rem !important;
  line-height: 1.4 !important;
  margin-top: 32px !important;
  margin-bottom: 12px !important;
}

.vp-doc h4 {
  font-size: 1.35rem !important;
  line-height: 1.4 !important;
}

.vp-doc p, 
.vp-doc li,
.vp-doc span {
  font-size: 1.15rem !important;
  line-height: 1.8 !important;
}